<template>
  <b-container>
    <b-row>
      <b-table striped hover :items="items" :fields="fields" :busy="isBusy" v-model="currentRow">
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
          <template #cell(status)="row">
            <color-picker :colors="optionsStatus" v-model="row.item.status" @input="onChangeRow(row.item, row.index)" :currentColor="currentStatus"></color-picker>
          </template>
          <template #cell(accommodation)="row">
            <b-form-select v-model="row.item.accommodation" @input="onChangeRow(row.item, row.index)">
              <option
                  v-for="(option, idx) in optionsAccommodation"
                  :key="idx"
                  :value="option.o_id"
                  :title="option.o_name || null"
              >
                {{ option.o_name }}
              </option>
            </b-form-select>
          </template>
          <template #cell(number_of_rooms)="row">
            <b-form-input v-model="row.item.number_of_rooms" @input="onChangeRow(row.item, row.index)"></b-form-input>
          </template>
          <template #cell(room_type)="row">
            <b-form-select v-model="row.item.room_type" style="width: 150px" @input="onChangeRow(row.item, row.index)">
              <option
                  v-for="(option, idx) in optionsRoomType"
                  :key="idx"
                  :value="option.d_id"
                  :title="option.d_name || null"
              >
                {{ option.d_name }}
              </option>
            </b-form-select>
          </template>
          <template #cell(check_in_date)="row">
            <b-form-datepicker v-model="row.item.check_in_date"
                               locale="en"
                               class="mb-2"
                               style="width: 200px;margin-bottom: 0 !important;"
                               @input="onChangeRow(row.item, row.index)"
                               :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }">

            </b-form-datepicker>
          </template>
          <template #cell(nts)="row">
            <b-form-input v-model="row.item.nts" @input="onChangeRow(row.item, row.index)"></b-form-input>
          </template>
          <template #cell(price)="row">
            <b-form-input v-model="row.item.price" style="width: 100px"></b-form-input>
          </template>
          <template #cell(total)="row">
            <b-form-input v-model="row.item.total" style="width: 100px"></b-form-input>
          </template>
          <template #cell(control)="row">
            <b-button href="#" variant="link" v-if="row.index > 0"><b-icon icon="x-circle-fill" font-scale="1" :value="row.item.status" @click="removeRow(row)"></b-icon></b-button>
          </template>
          <template #custom-foot="">
            <b-tr>
              <b-th>
                <b-button variant="primary" @click="addRow">Add</b-button>
              </b-th>
              <b-th></b-th>
              <b-th>{{countNumberOfRooms}}</b-th>
              <b-th></b-th>
              <b-th></b-th>
              <b-th></b-th>
              <b-th style="font-size: 12px">
                {{new Intl.NumberFormat('de-DE', {style:'currency', currency: 'EUR'}).format(totalPrice)}}<br/>
                TOTAL GP {{new Intl.NumberFormat('de-DE', {style:'currency', currency: 'EUR'}).format(totalGP)}}
              </b-th>
              <b-th style="font-size: 12px">{{new Intl.NumberFormat('de-DE', {style:'currency', currency: 'EUR'}).format(totalCost)}}</b-th>
            </b-tr>
          </template>
      </b-table>
    </b-row>
  </b-container>
</template>

<script>
import ColorPicker from './ColorPicker'
export default {
  name: 'AccommodationEditor',
  props: {
    msg: String
  },
  data() {
    return {
      isBusy: true,
      countNumberOfRooms: 0,
      totalPrice: 0.00,
      totalCost: 0.00,
      totalGP: 0.00,
      currentRow:null,
      currentStatus: null,
      fields: [
        {key: 'status', label: 'status', class:'status'},
        'accommodation',
        'number_of_rooms',
        'room_type',
        'check_in_date',
        'nts',
        {key: 'price', label: 'Price €'},
        {key: 'total', label: 'Cost €'},
        {key: 'control', label:'', class: 'controls'}
      ],
      form:{status: '', accommodation: '', number_of_rooms: '', room_type: '', check_in_date: '', nts: '', price: '', total: '', control:''},
      items:[
        {status: '', accommodation: '', number_of_rooms: '', room_type: '', check_in_date: '', nts: '', price: '', total: '', control:''}
      ],
      optionsAccommodation:[],
      optionsRoomType:[],
      optionsStatus:[]
    }
  },
  components:{
    ColorPicker
  },
  methods:{
    addRow(){
      this.items.push(Object.assign({},this.form));
    },
    removeRow(row){
      this.items.splice(row.index, 1);
      this.updateSummary();
    },
    onChangeRow(row, idx){
      if(row.accommodation && row.room_type && row.number_of_rooms && row.check_in_date && row.nts){
        this.saveAccommodation(row, idx);
        this.updateSummary();
      }
    },
    saveAccommodation(data, idx){
      let fd = new FormData();

      fd.append('acc_id', data['accommodation']);
      fd.append('check_in', new Date(data['check_in_date']).getTime() / 1000);
      fd.append('nights', data['nts']);
      fd.append('room_type', data['room_type']);
      fd.append('number', data['number_of_rooms']);
      fetch('/api/v1/accommodations', {
        method:'POST',
        body: fd
      }).then(async (response) => {
        let data = await response.json();
        console.log(data);
        console.log(this.items[idx]);
        this.items[idx].price = new Intl.NumberFormat('de-DE').format(data.price);
        this.items[idx].total = new Intl.NumberFormat('de-DE').format(data.cost);
      })
    },
    updateSummary(){
      this.totalCost = 0.00;
      this.totalPrice = 0.00;
      this.totalGP = 0.00;
      this.countNumberOfRooms = 0;

      this.items.forEach((item) => {
        this.totalPrice += item.price;
        this.totalCost += item.total;
        this.countNumberOfRooms += parseInt(item.number_of_rooms);
      });
      this.totalGP = this.totalPrice - this.totalCost;
    }
  },
  mounted() {
    fetch('/api/v1/accommodations').then(async (response) => {
      let data = await response.json();
      this.optionsRoomType = data['dic_room_type'];
      this.optionsAccommodation = data['Accommodation suppliers'];
      this.optionsStatus = data['dic_status'];
      this.isBusy = false;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.table th, .table td {
  vertical-align: middle;
}
.table thead{
  text-transform: uppercase;
  font-size: 10px;
}
</style>
