<template>
  <div class="color-picker" @click="togglePicker">
    <ul class="colors-list" v-if="showed">
      <li v-for="status in colors"
          :key="status['d_id']"
          :style="'background-color:#'+status['d_color_code']" :value="status['d_id']"
          @click="handleColorPicker(status)"
          :class="status['d_name'] === currentColor.d_name ? 'active' : ''">

      </li>
    </ul>
    <b-button style="width: 30px; height: 30px;" :style="'background-color:#'+currentColor.d_color_code+'; border-color:#'+currentColor.d_color_code"></b-button>
  </div>
</template>

<script>
  export default {
    name:"ColorPicker",
    props:{
      colors:{
        type: Array,
        required: true
      }
    },
    data(){
      return {
        currentColor: {},
        showed: false,
      }
    },
    methods: {
      handleColorPicker(color){
        this.currentColor = color;
        this.$emit('input', color);
      },
      togglePicker(){
        this.showed = !this.showed;
      }
    },
    created() {
      this.currentColor = this.colors.find((item) => {
        return item.d_name === 'RED';
      })
    }
  }
</script>

<style scoped>
.color-picker {
  width: 100%;
}
.colors-list{
  display: flex;
  position: absolute;
  top: 65px;
  z-index: 9999;
  background-color: white;
  padding: 5px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  list-style-type: none;

}
.colors-list li{
  width: 30px;
  height: 30px;
  margin: 5px;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
  flex-wrap: nowrap;
}
.colors-list li.active{
  cursor: auto;
}
.colors-list li.active:before{
  font-size: 20px;
  content: "•";
}
.colors-list li.yellow{
  background-color: yellow;
}
.colors-list li.red{
  background-color: #FF2D00;
}
.colors-list li.green{
  background-color: green;
}
.colors-list li.blue{
  background-color: #007bff;
}
.colors-list li.orange{
  background-color: orange;
}
</style>
