<template>
  <div id="app">
    <AccommodationEditor/>
  </div>
</template>

<script>
import AccommodationEditor from './components/AccommodationEditor.vue'

export default {
  name: 'App',
  components: {
    AccommodationEditor
  }
}
</script>

<style lang="scss">
@import "~@/assets/scss/vendors/bootstrap-vue/index";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
